<!DOCTYPE html>
<html>
  <%= render "layouts/head"%>
  <body>
    <%= render "layouts/header"%>
    <%#=_headerの内容をview(テンプレート)に挿入.%>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "layouts/footer"%>
  </body>
</html>

